//include-media library used for media queries
@import '_include-media.scss';

//Variables, inheretence and mixins
$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);

$color-red: #FF5851;
$color-tan: #FFF8E6;
$color-gray: #333333;
$color-orange: #FDA852;

%horizontal-position {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
}

%skills-paragraph-styles {
    font-size: 15px;
    color: $color-orange;
    grid-column: 1/6;
    align-items: baseline;
    margin-bottom: 33px;
  }

%five-thirty-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@mixin web-animation( $time: 1s ) {
  -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $time; /* Firefox < 16 */
        -ms-animation: fadein $time; /* Internet Explorer */
         -o-animation: fadein $time; /* Opera < 12.1 */
            animation: fadein $time;
}

@mixin fadein ( $time: 1s ) {
  transition: all $time ease-out;
  opacity: 0;
}

//Styles
a {
  color: $color-red;
}

a:hover {
  color: darken( $color-red, 5%);
}

a:visited {
    color: darken( $color-red, 70%);
}

#will-image-mobile {
  grid-column: 2/5;
  grid-row: 2/5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  border-radius: 50%;

  @media only screen and (min-width: 680px) {
    display: none;
  }
}



#will-image {
  display: flex;
  justify-content: center;
  width: 150px;
  grid-column: 2/5;
  grid-row: 2/5;
  border-radius: 50%;
  width: 330px;

    @include web-animation(1s);

  @media only screen and (max-width: 735px) {
    margin-top: 70px;
  }

  @media only screen and (max-width: 980px) {
    margin-top: 15px;
  }
}

.background-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(30, 100px);
}

@media only screen and (min-width: 693px) {
  .background-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.left-wrapper {
  @extend %five-thirty-grid;
  grid-template-rows: repeat(28, 11rem);
}


.left-wrapper {
  h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   align-items: center;
   @extend %horizontal-position;
  }
 }

.bg1 {
  background-color: $color-red;
  grid-row: 1/8;
}

.bg2 {
  grid-column: 2/3;
  grid-row: 1/19;
  background-color: $color-tan;
}


.p2 {
    line-height: 50px;
}

.right-wrapper {
  @extend %five-thirty-grid;
  grid-template-rows: repeat(28, 11rem);
}

.title-1 {
  font-size: 24px;
  grid-column: 1/6;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  font-family: 'Alfa Slab One', cursive;
}

  @media only screen and (min-width: 693px) {
    .title-1 {
      grid-row: 2/4;
      font-size: 50px;
      opacity: 1;
      @include web-animation(2.5s);
      @keyframes fadein
        from { opacity: 0; };
        to   { opacity: 1; };
      }
    }

.title-2 {
  font-size: 21px;
  display: flex;
  justify-content: center;
  grid-column: 1/6;
  grid-row: 4/5;
  margin-left: 70px;
  color: #545454;
  font-family: 'Montserrat', sans-serif;

}

  @media only screen and (min-width: 693px) {
    .title-2 {
      grid-row: 3/4;
      font-size: 30px;
      margin-left: 30px;
      margin-top: 29px;
      opacity: 1;
      @include web-animation(2.5s);
    }
  }

.boi {
  grid-column: 2/5;
  grid-row: 5/10;
  margin-top: 161px;
  @include fadein(2s);
  @extend %horizontal-position;
}

.boi.fade-in {
  opacity: 1;
}

.outline {
  grid-column: 2/5;
  grid-row: 5/10;
  margin-top: 142px;
  margin-left: 21px;
  @include fadein(1s);
  @extend %horizontal-position;
}

.outline.fade-in {
  opacity: 1;
}

.manman {
  @extend %horizontal-position;
  grid-column: 2/5;
  grid-row: 12/19;
  width: 330px;
  z-index: 3;
  @include fadein(1.4s);
}

.manman.fade-in {
  opacity: 1;
}

.intro {
  grid-column: 2/5;
  grid-row: 5/7;
}

.p2 {
  grid-row: 7/9;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: $color-tan;
  margin-top: 25px;
  margin-left: 15px;
  position: relative;
  z-index: 2;
  @include fadein(1s);
  @extend %horizontal-position;
}

.p2.fade-in {
  opacity: 1;
}

.skills-table {
  @extend %horizontal-position;
  @include fadein(2s);
  grid-column: 2/5;
  grid-row: 9/17;
  display: grid;
  grid-template-rows: 15 1fr;
}

.skills-table.fade-in {
  opacity: 1;
}

#html {
  grid-row: 1/2;
  color: $color-tan;

}

#htmlp {
  @extend  %skills-paragraph-styles;
  text-align: center;
  grid-row: 2/3;
}

#javascript {
  grid-row: 3/4;
  color: $color-tan;
}

#javascriptp {
  @extend  %skills-paragraph-styles;
  text-align: center;
  grid-row: 4/5;
}

#svg {
  grid-row: 5/6;
  color: $color-tan;
}

#svgp {
  @extend  %skills-paragraph-styles;
  grid-row: 6/7;
  text-align: center;
}

#git {
  grid-row: 7/8;
  color: $color-tan;
}

#gitp {
  @extend  %skills-paragraph-styles;
  grid-row: 8/9;
  text-align: center;
  display: flex;
  justify-content: flex-start;

}

#illustrator {
  grid-row: 9/10;
  color: $color-tan;
}

#illustratorp {
  @extend  %skills-paragraph-styles;
  grid-row: 10/11;
  text-align: center;
}

#audio {
  grid-row: 11/12;
  align-items: center;
  color: $color-tan;
  margin-top: 15px;
}

#audiop {
  @extend  %skills-paragraph-styles;
  grid-row: 12/13;
  text-align: center;
}

//Audio
.music {
  z-index: 2;
  @extend %horizontal-position;
}

#boujee {
  grid-column: 2/5;
  grid-row: 19/25;
}

#patient {
  grid-column: 2/5;
  grid-row: 22/27;
}

#odali {
  grid-column: 2/5;
  grid-row: 22/28;
}

//Animations
.squiggle1 {
  @extend %horizontal-position;
  grid-row: 5/8;
  align-items: center;
  margin-top: 10px;

  // Makes sure the wave animation works in any screen size
  @media only screen and (max-width: 980px) {
    margin-top: 40px;
  }

  @media only screen and (max-width: 780px) {
    margin-top: 55px;
  }
}

.squiggle-2 {
  @extend %horizontal-position;
  grid-row: 16/20;
  margin-top: 30px;
  z-index: 1;
}

.bg3 {
  grid-column: 1/6;
  margin-top: 59px;
  grid-row: 6/31;
  background-color: $color-gray;
}

.bg4 {
  grid-column: 1/6;
  grid-row: 17/31;
  background-color: $color-red;
}

.audio-text {
  grid-column: 2/5;
  grid-row: 18/19;
  text-align: center;
  text-justify: center;
  font-weight: bold;
  color: #330000;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.light {
  @extend %horizontal-position;
  grid-column: 1/3;
  grid-row: 25/27;
  width: 330px;
  margin-left: 17px;
  z-index: 3;
  margin-top: 54px;

}

button {
  grid-column: 1/6;
  grid-row: 27/28;
  align-items: center;
  height: 60px;
}

.contact-collapse {
  grid-column: 3/4;
  grid-row: 27/28;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.copy {
  color: $color-gray;
  font-family: 'Montserrat', sans-serif;
  grid-column: 4/6;
  grid-row: 28/29;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;


}
