//Variables, inheretence and mixins

$color-red: #FF5851
$color-tan: #FFF8E6
$color-gray: #333333
$color-orange: #FDA852

%horizontal-position
  grid-column: 1/6
  display: flex
  justify-content: center


%skills-paragraph-styles
    font-size: 15px
    color: $color-orange

%five-thirty-grid
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(30, 1fr)

@mixin web-animation( $time: 1s )
  -webkit-animation: fadein $time /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein $time /* Firefox < 16 */
        -ms-animation: fadein $time /* Internet Explorer */
         -o-animation: fadein $time /* Opera < 12.1 */
            animation: fadein $time

@mixin fadein ( $time: 1s )
  transition: all $time ease-out
  opacity: 0




//Styles
a
  color: $color-red
  margin-top: 16.5px
  margin-left: 6px


a:hover
  color: darken( $color-red, 5%)

  a:visited
    color: darken( $color-red, 70%)

.will-image
  width: 330px
  border-radius: 50%
  grid-column: 2/6
  grid-row: 2/5
  opacity: 1
  @include web-animation(1s)

.background-wrapper
  display: grid
  grid-template-columns: repeat(2, 1fr)

.bg1
  background-color: $color-red

.bg2
  grid-column: 2/3
  background-color: $color-tan


.left-wrapper
  @extend %five-thirty-grid

.left-wrapper
  h2
   font-family: 'Montserrat', sans-serif
   font-size: 30px
   align-items: center
   color: $color-red
   @extend %horizontal-position

  .p2
    line-height: 50px


.right-wrapper
  @extend %five-thirty-grid


.title-1
  grid-row: 2/3
  margin-left: 30px
  align-items: flex-end
  font-size: 50px
  font-family: 'Alfa Slab One', cursive
  opacity: 1
  @include web-animation(2.5s)
  @extend %horizontal-position

@keyframes fadein
    from { opacity: 0; }
    to   { opacity: 1; }


.title-2
  grid-column: 2/5
  grid-row: 3/4
  margin-left: 65px
  color: #545454
  font-family: 'Montserrat', sans-serif
  opacity: 1
  @include web-animation(2.5s)
  @extend %horizontal-position


.boi
  grid-column: 2/5
  grid-row: 5/10
  margin-top: 141px
  @include fadein(2s)
  @extend %horizontal-position


.boi.fade-in
  opacity: 1


.outline
  grid-column: 2/5
  grid-row: 5/10
  margin-top: 122px
  margin-left: 21px
  @include fadein(1s)
  @extend %horizontal-position


.outline.fade-in
  opacity: 1


.manman
  @extend %horizontal-position
  grid-column: 2/5
  grid-row: 10/14
  width: 330px
  margin-top: 25px
  margin-left: 17px
  z-index: 3
  @include fadein(1.4s)


.manman.fade-in
  opacity: 1


.intro
  grid-column: 2/5
  grid-row: 5/7


.p2
  grid-row: 7/9
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  color: $color-tan
  margin-top: 25px
  margin-left: 15px
  position: relative
  z-index: 2
  @include fadein(1s)
  @extend %horizontal-position


.p2.fade-in
  opacity: 1


.skills
  @extend %horizontal-position
  @include fadein(2s)


.skills.fade-in
  opacity: 1



#html
  grid-row: 9/10
  color: $color-tan


#htmlp
  @extend  %skills-paragraph-styles
  grid-row: 10/11
  align-items: baseline



#javascript
  grid-row: 10/11
  align-items: flex-end
  padding-bottom: none
  color: $color-tan


#javascriptp
  @extend  %skills-paragraph-styles
  grid-row: 11/12
  align-items: center



#ruby
  grid-row: 13/14
  color: $color-tan


#rubyp
  @extend  %skills-paragraph-styles
  grid-row: 14/15
  align-items: start



#svg
  grid-row: 12/13
  align-items: flex-start
  color: $color-tan


#svgp
  @extend  %skills-paragraph-styles
  grid-row: 12/13
  align-items: flex-end


#sql
  grid-row: 17/18
  text-decoration: underline


#git
  grid-row: 14/15
  align-items: flex-end
  color: $color-tan


#gitp
  @extend  %skills-paragraph-styles
  grid-row: 15/16
  align-items: center


#illustrator
  grid-row: 16/17
  align-items: center
  color: $color-tan


#illustratorp
  @extend  %skills-paragraph-styles
  grid-row: 17/18
  align-items: flex-start

#audio
  grid-row: 18/19
  align-items: flex-start
  color: $color-tan

#audiop
  @extend  %skills-paragraph-styles
  grid-row: 19/20
  align-items: flex-start

//Audio
.music
  z-index: 2
  @extend %horizontal-position

#boujee
  grid-column: 2/5
  grid-row: 19/25

#patient
  grid-column: 2/5
  grid-row: 22/25

#odali
  grid-column: 2/5
  grid-row: 25/28

//Animations
.squiggle1
  @extend %horizontal-position
  grid-row: 5/8
  align-items: center
  margin-top: 10px


.squiggle-2
  @extend %horizontal-position
  grid-row: 13/18
  margin-top: 80px



.bg3
  grid-column: 1/6
  grid-row: 7/31
  background-color: $color-gray


.bg4
  grid-column: 1/6
  grid-row: 14/31
  background-color: $color-red


.audiotext
  grid-column: 2/5
  grid-row: 15/17
  align-items: flex-start
  justify-content: center
  color: $color-tan
  font-size: 30px
  font-family: 'Montserrat', sans-serif


button
  grid-column: 3/4
  grid-row: 20/21
  align-items: center
  height: 60px



.contact-collapse
  grid-column: 3/4
  grid-row: 20/21
  align-items: center
  height: 60px
